<app-header></app-header>
<main class="main-content">
  <!-- Message d'info -->
  <p class="message-error" *ngIf="message == 'error'" >
    Formulaire invalide !
    Veuillez vérifier les informations. <i (click)="onClose()"class="fas fa-times"></i>
  </p>

  <!-- Header avec logo -->
  <header class="header">
    <h1>Consulter l'état d'un utilisateur</h1>
  </header>
  <!-- Header avec logo -->

  <div class="edit-form-submit">
    <button type="button" class="btn btn-warning" (click)="activeEdit()" *ngIf="!edit"><i class="fas fa-pencil-alt"></i>Modifier</button>
    <button type="button" class="btn btn-danger" (click)="cancelEdit()" *ngIf="edit"><i class="fas fa-times"></i>Annuler</button>
  </div>


  <!-- Formulaire de modification -->
  <form (ngSubmit)="onSubmitForm()" [formGroup]="editForm" novalidate>
    <div class="authentication-form-group">
      <label>Nom d'utilisateur*</label>
      <input  class="md-form" mdbInput type="text" class="form-control" formControlName="username" disabled/>
    </div>

    <div class="authentication-form-group">
      <label>Adresse mail*</label>
      <input  class="md-form" mdbInput type="text" class="form-control" formControlName="email" disabled/>
    </div>

    <div class="authentication-form-group">
      <label>Nom</label>
      <input  class="md-form" mdbInput type="text" class="form-control" formControlName="lastname" disabled/>
    </div>

    <div class="authentication-form-group">
      <label>Prénom</label>
      <input  class="md-form" mdbInput type="text" class="form-control" formControlName="firstname" disabled/>
    </div>

    <section class="authentication-form-group">
      <h1>Droits :</h1>
      <div class="register-rights">
        <div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="right-user" value="0" formControlName="permissions" disabled>
            <label class="custom-control-label" for="right-user">Utilisateur</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="right-mod" value="1" formControlName="permissions" disabled>
            <label class="custom-control-label" for="right-mod">Modérateur</label>
          </div>
        </div>
        <div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="right-edit" value="2" formControlName="permissions" disabled>
            <label class="custom-control-label" for="right-edit">Editeur</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" id="right-admin" value="3" formControlName="permissions" disabled>
            <label class="custom-control-label" for="right-admin">Administrateur</label>
          </div>
        </div>
      </div>
    </section>

    <section class="authentication-form-group" *ngIf="edit">
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="activateUser" formControlName="activated">
        <label class="custom-control-label" for="activateUser">Activer l'utilisateur</label>
      </div>
    </section>

    <section class="authentication-form-group" *ngIf="edit">
      <h1>Modification du mot de passe :</h1>
      <div class="authentication-form-group">
        <label>Nouveau mot de passe</label>
        <input type="password" class="form-control" formControlName="password" (keyup)="setPasswordValidators($event)"/>
      </div>
      <div class="authentication-form-alert">
        <p *ngIf = "editForm.controls['password'].errors?.maxlength">
          Le mot de passe ne doit pas dépasser 30 caractères.
        </p>
        <p *ngIf = "editForm.controls['password'].errors?.minlength">
          Vous devez saisir au minimum 8 caractères.
        </p>
      </div>
    </section>

    <div class="edit-form-submit" *ngIf="edit">
      <button type="submit" [disabled]="editForm.invalid" class="btn btn-success"><i class="fas fa-check"></i></button>
    </div>
  </form>

</main>

<!-- Bouton page d'accueil -->
<app-menu-admin></app-menu-admin>
<!-- Bouton page d'accueil -->
