<app-header></app-header>
<main class="main-content">

  <!-- Header avec logo -->
  <header class="manage-word-header">
    <h1>Gérer les définitions</h1>
  </header>
  <!-- Header avec logo -->

  <form [formGroup]="searchWordForm" novalidate>
    <input (focusin)="onDisplayResult()"
           (focusout)="onDisplayResultsNone()"
           id="home-search"
           [formControl]="queryField"
           formControlName="theme"
           type="search"
           placeholder="Sécurité, Conformité...">
    <i class="fas fa-search"></i>
    <button>Annuler</button>
  </form>

    <div id="home-search-results" class="home-search-results"
         [ngClass]="{'d-block': displayResults === true, 'd-none': displayResults === false}">
        <div *ngFor="let word of words">
            <a (click)="onDisplayResultsNone()" [routerLink]="['definitions/', word._id]">
                <i class="fas fa-search"></i>{{ word.title }}
            </a>
        </div>
    </div>

  <!-- Liste des thèmes -->

  <div class="manage-word-info" >
      <p>
        Le mot recherché n'existe pas ?
      </p>
      <p class="manage-word-add">Ajoutez-le</p>
      <button class="manage-word-new" [routerLink]="['/mot/ajouter']">Ajouter une définition <i class="fas fa-plus"></i></button>
  </div>
  <!-- Liste des thèmes -->

  <!-- Bouton page d'accueil -->
  <app-menu-admin></app-menu-admin>
  <!-- Bouton page d'accueil -->
</main>
