<app-header></app-header>
<main class="main-content">

  <!-- Header avec logo -->
  <header class="header" (click)="onDisplayResultsNone()">
    <h1>Rechercher un utilisateur</h1>
  </header>
  <!-- Header avec logo -->

  <form [formGroup]="searchUserForm" novalidate>
    <input (focusin)="onDisplayResult()"
           id="user-search"
           [formControl]="queryField"
           type="search"
           placeholder="Nom d'utilisateur">
    <i class="fas fa-search"></i>
    <button>Annuler</button>
  </form>

  <div id="user-search-results" class="user-search-results"
       [ngClass]="{'d-block': displayResults === true, 'd-none': displayResults === false}">
    <div *ngFor="let user of users">
      <a [routerLink]="['/utilisateur/', user._id]">
        <i class="fas fa-search"></i>{{ user.username }}
      </a>
    </div>
  </div>

  <div class="user-info" (click)="onDisplayResultsNone()">
    <p>
      L'utilisateur recherché n'existe pas ?
    </p>
    <p class="user-add">Ajoutez-le</p>
    <button class="user-new" [routerLink]="['/utilisateur/ajouter']">Ajouter un utilisateur <i class="fas fa-plus"></i></button>
  </div>
</main>

<!-- Bouton page d'accueil -->
<app-menu-admin></app-menu-admin>
<!-- Bouton page d'accueil -->
