.main-content {
    padding-top: 6rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.fourohfour-left {
    font-size: 3em;
    color: orange;
    margin-bottom: 3rem;
}

.fourohfour-right p {
    font-size: 1em;
}

@media screen and (min-width: 992px) {
    .main-content {
        margin: auto;
        width: 30%;
    }
}
