<nav class="menu-admin">
  <ul>
    <li class="menu-admin-button blue-button disabled">
      <a [routerLink]="['']">
        6
        <p>En attente</p>
      </a>
    </li>
    <li class="turquoise-button disabled">
      <a [routerLink]="['']">
        <i class="fas fa-edit"></i>
        <p>Définition</p>
      </a>
    </li>
    <li class="red-button">
      <a [routerLink]="['/utilisateur/ajouter']">
        <i class="fas fa-user-edit"></i>
        <p>Utilisateur</p>
      </a>
    </li>
    <li class="oceanblue-button disabled">
      <a [routerLink]="['']">
        <i class="fas fa-folder-open"></i>
        <p>Thème</p>
      </a>
    </li>
    <li class="pale-pink-button">
      <a [routerLink]="['/dashboard']">
        <i class="fas fa-cog"></i>
        <p>Admin</p>
      </a>
    </li>
    <li class="violet-button">
      <a [routerLink]="['']">
        <i class="fas fa-sign-out-alt"></i>
        <p>Accueil</p>
      </a>
    </li>
  </ul>
</nav>
