<app-header></app-header>
<main class="main-content">

  <header class="dashboard-header">
    <p>Administration</p>
  </header>

  <div class="dashboard-table">

    <a class="dashboard-button blue-button disabled" [routerLink]="['']">
      <p class="icon-num">6</p>
      <h1>Définitions en attente</h1>
    </a>

    <a class="dashboard-button orange-button" [routerLink]="['/mot/ajouter']">
      <i class="fas fa-plus"></i>
      <h1>Nouvelle définition</h1>
    </a>

    <a class="dashboard-button red-button" [routerLink]="['/utilisateur/ajouter']">
      <i class="fas fa-user-edit"></i>
      <h1>Gérer un utilisateur</h1>
    </a>

    <a class="dashboard-button green-button disabled" [routerLink]="['']">
      <i class="fas fa-star"></i>
      <h1>Gérer les favoris</h1>
    </a>

    <a class="dashboard-button turquoise-button disabled" [routerLink]="['']">
      <i class="fas fa-edit"></i>
      <h1>Gérer une définition</h1>
    </a>

    <a class="dashboard-button pink-button disabled" [routerLink]="['']">
      <i class="fas fa-folder-plus"></i>
      <h1>Créer un thème</h1>
    </a>

    <a class="dashboard-button oceanblue-button disabled" [routerLink]="['']">
      <i class="fas fa-folder-open"></i>
      <h1>Gérer un thème</h1>
    </a>

    <a class="dashboard-button violet-button" [routerLink]="['']">
      <i class="fas fa-sign-out-alt"></i>
      <h1>Retour à l'accueil</h1>
    </a>
  </div>

</main>

<app-footer></app-footer>
