<app-header></app-header>
<main class="main-content">

  <header class="single-word-page-header">
    <p>Consulter une définition</p>
  </header>

  <!-- Définition -->
  <div class="single-word" *ngIf="word">

    <section *ngIf="publishedOk">
      <header class="single-word-definition-header">
        <h1>{{ word.title }}
          <i *ngIf="isLoggedIn() && !bookmark" (click)="onAddBookmark()" class="far fa-star"></i>
          <i *ngIf="isLoggedIn() && bookmark" (click)="onDeleteBookmark()" class="fas fa-star"></i>
        </h1>
        <p>Thèmes : <a [routerLink]="['/themes/', theme._id, 'words']" *ngFor="let theme of word.themes; let isLast=last"><span *ngIf="theme.published">{{ theme.title }}{{isLast ? '' : ', ' }}</span></a></p>
      </header>
      <div class="single-word-definition-principal">
        <div class="single-word-definition-side">
          <div class="single-word-last-edit">
            Dernière modification : {{ word.last_edit | timeago:live }}
          </div>
          <p class="single-word-definition">
            {{ word.definition }}
          </p>
        </div>
        <figure *ngIf="imageUrl" class="single-word-image">
          <img [src]="imageUrl">
          <figcaption *ngIf="word.legend">{{ word.legend }}</figcaption>
        </figure>
      </div>
      <div *ngIf="word.know_more" class="single-word-know-more">
        <a (click)="onDisplayKnowMore()" class="btn">En savoir plus <i [ngClass]="{'far fa-circle': open === false, 'fas fa-check-circle': open === true}"></i></a>
      </div>
      <!--
      <p class="single-word-associated-word">
        Mots associés : mot1, mot2
      </p>
      -->
      <p id="single-word-know-more-text" *ngIf="word.know_more" [ngClass]="{'display-none': open === false}">
        {{ word.know_more }}
      </p>
    </section>
  </div>
  <!-- Définition -->

  <!-- Mot inconnu -->
  <p *ngIf="word === undefined">Le mot recherché n'existe pas.</p>
  <!-- Mot inconnu -->

  <!-- Mot dépublié -->
  <p *ngIf="!publishedOk">Le mot recherché n'est pas disponible.</p>
  <!-- Mot dépublié -->

</main>

<app-footer></app-footer>
