<app-header></app-header>
<main class="main-content">

  <!-- Définition -->
  <article *ngIf="word">

    <header class="single-word-page-header">
      <p>Consulter une définition</p>
    </header>

    <section>
      <header class="single-word-definition-header">
        <h1>{{ word.title }}</h1>
        <p>Thèmes : <a *ngFor="let theme of word.themes; let isLast=last">{{ theme.title }}{{isLast ? '' : ', '}}</a></p>
      </header>
      <div class="single-word-last-edit">
        Dernière modification : {{ word.last_edit | timeago:live }}
      </div>
      <p class="single-word-definition">
        {{ word.definition }}
      </p>
      <div *ngIf="word.know_more" class="single-word-know-more">
        <a (click)="onDisplayKnowMore()" class="btn">En savoir plus <i [ngClass]="{'far fa-circle': open === false, 'fas fa-check-circle': open === true}"></i></a>
      </div>
      <!--
      <p class="single-word-associated-word">
        Mots associés : mot1, mot2
      </p>
      -->
      <p id="single-word-know-more-text" *ngIf="word.know_more" [ngClass]="{'display-none': open === false}">
        {{ word.know_more }}
      </p>
    </section>

  </article>
  <!-- Définition -->

  <!-- Mot inconnu -->
  <p *ngIf="!word">Le mot recherché n'existe pas.</p>
  <!-- Mot inconnu -->

</main>

<app-footer></app-footer>
