.register-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 0 1em 0;
}

.register-header h1 {
  color: lightslategray;
  margin: 0;
  font-size: 1em;
}

.authentication-button-home {
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100vw;
  background: #29a255;
  color: white;
  box-shadow: inset 0 0 0 100px #2db25d;
  transition: all 0.3s;

}

.authentication-button-home:hover {
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #2db25d;
}


.authentication-form-group {
  padding: 0 0 0.5rem 0;
}

.register-form-submit {
  padding-top: 2rem;
  display: flex;
  justify-content: flex-end;
}

.register-form-submit button {
  box-shadow: none;
  color: white;
  background: #2db25d;
  border: solid 1px #2db25d;
  padding: 0.375em 0.75em;
  font-size: 1em;
  margin:0;
  text-transform: initial;
}

.authentication-form-submit button:hover {
  color: white;
  box-shadow: inset 0 0 0 0 white;
}

.valid-control {
  border: solid 1px #2db25d;
}

.invalid-control {
  border: solid 1px #ff6949;
}

.authentication-form-alert {
  color: #ff6949;
  font-size: 0.8em;
}

.authentication-form-valid {
  color: #2db25d;
  font-size: 0.8em;
}

.authentication-form-fgt-psw {
  color: rgb(0, 86, 179);
}

.register-header-actions {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.register-header-actions input {
  width: 50%;
}

.register-header-actions a {
  box-shadow: none;
  color: white;
  background: #2db25d;
  border: solid 1px #2db25d;
  padding: 0.375em 0.75em;
  font-size: 1em;
  margin:0;
  text-transform: initial;
}

form {
  border: solid 1px #ced4da;
  margin: 0.5em;
  padding: 0.5rem;
}

section.authentication-form-group {
  border-top: solid 2px #ced4da;
  margin-top: 1em;
}

section.authentication-form-group h1 {
  font-size: 1em;
  color: lightslategray;
  padding-top: 1em;
}

.register-rights {
  display:flex;
  justify-content: space-between;
}

.message-success,
.message-error {
  width: 100%;
  font-weight: 400;
  padding: 0.5em;
  position: fixed;
  z-index: 3;
  top: 0;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.message-success {
  background: #d4ffda;
  color: #2db25d;
}

.message-error {
  background: #ffe9db;
  color: #ff6949;
}

.message-error i,
.message-success i {
  padding:1rem;
  cursor: pointer;
}

div label {
  margin: 0.5em 0 0 0;
}
